html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

.wrapper {
    height: 100%;
    min-height: 100%;
}

.text {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    width: 300px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #aaa;
}